/* Direction Nav */
.flexslider .slides > li { position: relative; }
.flex-direction-nav a:before  { 
	font-family:'fontello'; 
	content: '\e0CD';
	line-height: 40px; 
}
.flex-direction-nav a.flex-next:before  { content: '\e0CC'; }
.flex-control-paging li a {
	border-radius: 0;
	width: 27px;
	height: 12px;
	background: #3398cc;
	background: rgba(51,152,204,0.5);
}
.flex-control-paging li a.flex-active {
	background: #3398cc;
	background: rgba(51,152,204,0.9);
}

/* Home slider */
#home-slider { margin-bottom: 30px; }

/* Single Post slider */
#post-slider { margin-bottom: 30px; }
